* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #111111; /* Dark background */
}

.main-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
}

.split-container {
  min-height: 100vh;
  min-width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

/* Image on the left */
.image-box {
  min-width: 50%;
  min-height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.image-box img {
  min-width: 100vh;
  min-height: 100vh;
  width: 100%;
  height: auto;
  object-fit: cover;
  /* Matching the card curves */
}

/* Form on the right */
.form-box {
  min-width: 50%;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: #111111;
}

.white-card {
  background: white;
  border: solid 1px #888888;
  padding: 50px 40px;
  border-radius: 40px; /* Big rounded corners like your image */
  width: 100%;
  max-width: 550px;
  box-shadow: 0 0 50px rgba(255, 255, 255, 0.08); /* Subtle outer glow */
}

.logo {
  display: flex;
  justify-self: center;
  gap: 10px;
  font-weight: bold;
  margin-bottom: 25px;
}

.logo img {
  width: 35px;
}

h1 {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
  color: #111;
}

.field {
  margin-bottom: 18px;
}
label {
  display: block;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #444;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 14px;
  background: #fdfdfd;
}

.pass-wrapper {
  position: relative;
}
.eye {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.error {
  color: #ff4d4d;
  font-size: 11px;
  margin-top: 5px;
  display: block;
  height: 12px;
}

/* Buttons */
.btn-main {
  width: 100%;
  padding: 15px;
  background: #4285f4;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

.or-divider {
  text-align: center;
  margin: 20px 0;
  color: #888;
  font-size: 13px;
}

.btn-google {
  width: 100%;
  padding: 14px;
  background: #222;
  color: white;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  font-size: 14px;
}
.btn-google img {
  width: 18px;
}

.foot {
  text-align: center;
  font-size: 13px;
  margin-top: 25px;
  color: #666;
}
.foot a {
  color: #4285f4;
  text-decoration: none;
  font-weight: bold;
}
